body{
    font-family: sans-serif;
    background-color: antiquewhite;
    margin-top: 10rem;
}

.container,.row {
    justify-content: center;
    text-align: center;
}
#message{
    margin-top: 1rem;
}
h1{
    margin-bottom: 1rem; 
}